<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>G2think</title>
	<meta name="description" content="iOS and Web development.">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
	
	<link rel="author" type="text/plain" href="humans.txt">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="webfonts/ss-social-regular.css">
    
    </head>
		<body>
			<header>
				<h1>G2think</h1>
				<h2 class="manifesto">We make iOS and Web apps.</h2>	
			</header>

			
		
			<footer>
				
				
			</footer>
	</body>
</html>
